<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Easyshop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Bienvenido a Easyshop</h1>
    <nav>
        <a href="{{ url_for('pagina_productos') }}">Ver Productos</a>
        <a href="{{ url_for('pagina_trabajadores') }}">Ver Trabajadores</a>
        <a href="{{ url_for('pagina_clientes') }}">Ver Clientes</a>
        <a href="{{ url_for('pagina_boletas') }}">Ver Boletas</a>
    </nav>
</body>
</html>